<%= form_with(model: god) do |form| %>
  <% if god.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(god.errors.count, "error") %> prohibited this god from being saved:</h2>

      <ul>
        <% god.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
